* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

.wrap {
    margin: 0 auto;
    height: 500px;
    background-color: #ace;
    color: #fff;
    text-align: center;
    font-size: 48px;
    line-height: 500px;
    display: flex;
}

.left {
    width: 150px;
    height: 100%;
    background-color: pink;
}

.right {
    width: 150px;
    height: 100%;
    background-color: aqua;
}

.contain {
    flex: 1;
    height: 100%;
    background-color: salmon;
}