<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <ul>
                <li class="info on">
                    <a href="javascript:;">
                        <i class="fa fa-paper-plane fa-flip-horizontal"></i>
                    </a>
                </li>
                <li class="rocket">
                    <a href="javascript:;">
                        <i class="fa fa-rocket"></i>
                    </a>
                </li>
                <li class="game">
                    <a href="javascript:;">
                        <i class="fa fa-gamepad"></i>
                    </a>
                </li>
                <li class="add">
                    <a href="javascript:;">
                        <i class="fa fa-plus"></i>
                    </a>
                </li>
            </ul>
        </header>
        <div class="contain">
            <nav>
                <ul class="contain-router">
                    <li>
                        <h4>MENU
                            <i class="fa fa-cog"></i>
                        </h4>
                        <ul>
                            <li>
                                <a href="javascript:;">Overview</a>
                            </li>
                            <li>
                                <a href="javascript:;">Sales</a>
                                <span class="info-tips">54</span>
                            </li>
                            <li>
                                <a href="javascript:;">Your Staff</a>
                            </li>
                            <li>
                                <a href="javascript:;">Analytics & Targeting</a>
                            </li>
                            <li>
                                <a href="javascript:;">What's New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>MENU
                            <i class="fa fa-cog"></i>
                        </h4>
                        <ul>
                            <li>
                                <a href="javascript:;">Overview</a>
                            </li>
                            <li>
                                <a href="javascript:;">Sales</a>
                            </li>
                            <li>
                                <a href="javascript:;">Your Staff</a>
                            </li>
                            <li>
                                <a href="javascript:;">Analytics & Targeting</a>
                            </li>
                            <li>
                                <a href="javascript:;">What's New</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <h4>MENU
                            <i class="fa fa-cog"></i>
                        </h4>
                        <ul>
                            <li>
                                <a href="javascript:;">Overview</a>
                            </li>
                            <li>
                                <a href="javascript:;">Sales</a>
                            </li>
                            <li>
                                <a href="javascript:;">Your Staff</a>
                            </li>
                            <li>
                                <a href="javascript:;">Analytics & Targeting</a>
                            </li>
                            <li>
                                <a href="javascript:;">What's New</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <footer class="storage-space">
                    <b>Monthly Goals</b>
                    <span>$580/$3200</span>
                    <div>
                        <em></em>
                    </div>
                </footer>
            </nav>
            <section>
                <div class="user-header">
                    <h1>Messages</h1>
                    <div class="user">
                        <div class="avatar">
                            <a href="javascript:;">
                                <img src="../img/Face.png" alt="">
                            </a>
                            <a href="javascript:;">
                                <i class="fa fa-circle-o"></i>
                            </a>
                        </div>
                        <div class="user-info">
                            <h4>Jordan J.</h4>
                            <p>Administrator</p>
                        </div>
                        <div>
                            <a href="javascript:;">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <aside>
                    <div class="search-wrap">
                        <input type="search" placeholder="search">
                        <button>
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                    <ul>
                        <li class="active">
                            <div class="friend-info">
                                <div class="avatar fl">
                                    <a href="javascript:;">
                                        <img src="../img/Face.png" alt="">
                                    </a>
                                </div>
                                <div class="user-info fl">
                                    <h4>Jordan J.</h4>
                                    <p>Administrator</p>
                                </div>
                                <div class="fr">
                                    <span>3m</span>
                                </div>
                            </div>
                            <div class="friend-contain">
                                <p>
                                    I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
                                </p>
                                <div class="info-tips">4</div>
                            </div>
                        </li>
                        <li>
                            <div class="friend-info">
                                <div class="avatar fl">
                                    <a href="javascript:;">
                                        <img src="../img/Face.png" alt="">
                                    </a>
                                </div>
                                <div class="user-info fl">
                                    <h4>Jordan J.</h4>
                                    <p>Administrator</p>
                                </div>
                                <div class="fr">
                                    <span>3m</span>
                                </div>
                            </div>
                            <div class="friend-contain">
                                <p>
                                    I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
                                </p>
                                <div class="info-tips">4</div>
                            </div>
                        </li>
                        <li>
                            <div class="friend-info">
                                <div class="avatar fl">
                                    <a href="javascript:;">
                                        <img src="../img/Face.png" alt="">
                                    </a>
                                </div>
                                <div class="user-info fl">
                                    <h4>Jordan J.</h4>
                                    <p>Administrator</p>
                                </div>
                                <div class="fr">
                                    <span>3m</span>
                                </div>
                            </div>
                            <div class="friend-contain">
                                <p>
                                    I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
                                </p>
                                <div class="info-tips">4</div>
                            </div>
                        </li>
                        <li>
                            <div class="friend-info">
                                <div class="avatar fl">
                                    <a href="javascript:;">
                                        <img src="../img/Face.png" alt="">
                                    </a>
                                </div>
                                <div class="user-info fl">
                                    <h4>Jordan J.</h4>
                                    <p>Administrator</p>
                                </div>
                                <div class="fr">
                                    <span>3m</span>
                                </div>
                            </div>
                            <div class="friend-contain">
                                <p>
                                    I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
                                </p>
                                <div class="info-tips">4</div>
                            </div>
                        </li>
                        <li>
                            <div class="friend-info">
                                <div class="avatar fl">
                                    <a href="javascript:;">
                                        <img src="../img/Face.png" alt="">
                                    </a>
                                </div>
                                <div class="user-info fl">
                                    <h4>Jordan J.</h4>
                                    <p>Administrator</p>
                                </div>
                                <div class="fr">
                                    <span>3m</span>
                                </div>
                            </div>
                            <div class="friend-contain">
                                <p>
                                    I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
                                </p>
                                <div class="info-tips">4</div>
                            </div>
                        </li>
                        <li>
                            <div class="friend-info">
                                <div class="avatar fl">
                                    <a href="javascript:;">
                                        <img src="../img/Face.png" alt="">
                                    </a>
                                </div>
                                <div class="user-info fl">
                                    <h4>Jordan J.</h4>
                                    <p>Administrator</p>
                                </div>
                                <div class="fr">
                                    <span>3m</span>
                                </div>
                            </div>
                            <div class="friend-contain">
                                <p>
                                    I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
                                </p>
                                <div class="info-tips">4</div>
                            </div>
                        </li>
                        <li>
                            <div class="friend-info">
                                <div class="avatar fl">
                                    <a href="javascript:;">
                                        <img src="../img/Face.png" alt="">
                                    </a>
                                </div>
                                <div class="user-info fl">
                                    <h4>Jordan J.</h4>
                                    <p>Administrator</p>
                                </div>
                                <div class="fr">
                                    <span>3m</span>
                                </div>
                            </div>
                            <div class="friend-contain">
                                <p>
                                    I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
                                </p>
                                <div class="info-tips">4</div>
                            </div>
                        </li>
                        <li>
                            <div class="friend-info">
                                <div class="avatar fl">
                                    <a href="javascript:;">
                                        <img src="../img/Face.png" alt="">
                                    </a>
                                </div>
                                <div class="user-info fl">
                                    <h4>Jordan J.</h4>
                                    <p>Administrator</p>
                                </div>
                                <div class="fr">
                                    <span>3m</span>
                                </div>
                            </div>
                            <div class="friend-contain">
                                <p>
                                    I pay for the 4Mb/sec down, 512 Kb/sec up service from O2. In fact, it's relatively quick, and stable...
                                </p>
                                <div class="info-tips">4</div>
                            </div>
                        </li>
                    </ul>
                </aside>
                <div class="main">
                    <div class="main-header">
                        <span class="object">Bessie Berry</span>
                        <div class="main-tabbar">
                            <div class="main-btngroup">
                                <button><i class="fa fa-user-plus"></i></button>
                                <button><i class="fa fa-upload"></i></button>
                                <button><i class="fa fa-trash"></i></button>
                            </div>
                            <em></em>
                            <span>1 of 28</span>           
                            <div class="main-page">
                                <button><i class="fa fa-caret-left"></i></button>
                                <button><i class="fa fa-caret-right"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="main-contain">
                        <div class="message">
                            <div class="avatar">
                                <a href="javascript:;">
                                    <img src="../img/Face.png" alt="">
                                </a>
                            </div>
                            <div class="message-contain">
                                <h4 class="message-form">Bessie Berry<time>8:31 AM</time></h4>
                                <p>
                                    Hi guys Ive got the O2 package and have really slow internet. A speed check online said i can get 3mbps but it seems more like 0.5 these days, just freezing and taking ages to open pages and open audio files for example. I have decided to switch to the UPC package which offers 10mbps but do you think i will get it?
                                </p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="avatar">
                                <a href="javascript:;">
                                    <img src="../img/Face.png" alt="">
                                </a>
                            </div>
                            <div class="message-contain">
                                <h4 class="message-form">Bessie Berry<time>8:31 AM</time></h4>
                                <p>
                                    Hi guys Ive got the O2 package and have really slow internet. A speed check online said i can get 3mbps but it seems more like 0.5 these days, just freezing and taking ages to open pages and open audio files for example. I have decided to switch to the UPC package which offers 10mbps but do you think i will get it?
                                </p>
                            </div>
                        </div>
                        <div class="time-split">
                            <em></em>
                            <span>Tuesday</span>
                            <em></em>
                        </div>
                        <div class="message">
                            <div class="avatar">
                                <a href="javascript:;">
                                    <img src="../img/Face.png" alt="">
                                </a>
                            </div>
                            <div class="message-contain">
                                <h4 class="message-form">Bessie Berry<time>8:31 AM</time></h4>
                                <p>
                                    Hi guys Ive got the O2 package and have really slow internet. A speed check online said i can get 3mbps but it seems more like 0.5 these days, just freezing and taking ages to open pages and open audio files for example. I have decided to switch to the UPC package which offers 10mbps but do you think i will get it?
                                </p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="avatar">
                                <a href="javascript:;">
                                    <img src="../img/Face.png" alt="">
                                </a>
                            </div>
                            <div class="message-contain">
                                <h4 class="message-form">Bessie Berry<time>8:31 AM</time></h4>
                                <p>
                                    Hi guys Ive got the O2 package and have really slow internet. A speed check online said i can get 3mbps but it seems more like 0.5 these days, just freezing and taking ages to open pages and open audio files for example. I have decided to switch to the UPC package which offers 10mbps but do you think i will get it?
                                </p>
                            </div>
                        </div>
                        <div class="time-split">
                            <em></em>
                            <span>Tuesday</span>
                            <em></em>
                        </div>
                        <div class="message">
                            <div class="avatar">
                                <a href="javascript:;">
                                    <img src="../img/Face.png" alt="">
                                </a>
                            </div>
                            <div class="message-contain">
                                <h4 class="message-form">Bessie Berry<time>8:31 AM</time></h4>
                                <p>
                                    Hi guys Ive got the O2 package and have really slow internet. A speed check online said i can get 3mbps but it seems more like 0.5 these days, just freezing and taking ages to open pages and open audio files for example. I have decided to switch to the UPC package which offers 10mbps but do you think i will get it?
                                </p>
                            </div>
                        </div>
                        <div class="message">
                            <div class="avatar">
                                <a href="javascript:;">
                                    <img src="../img/Face.png" alt="">
                                </a>
                            </div>
                            <div class="message-contain">
                                <h4 class="message-form">Bessie Berry<time>8:31 AM</time></h4>
                                <p>
                                    Hi guys Ive got the O2 package and have really slow internet. A speed check online said i can get 3mbps but it seems more like 0.5 these days, just freezing and taking ages to open pages and open audio files for example. I have decided to switch to the UPC package which offers 10mbps but do you think i will get it?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="talk-input">
                        <button type="button">+</button>
                        <input type="text" value="Well, kinda both :) but more of that second option, i`ve seen many systems infected and crawling with">
                    </div>
                </div>
            </section>
        </div>
    </div>
</body>

</html>