<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">    
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="wrap">
        <header>
            <ul>
                <li class="info on"><a href="javascript:;"><i class="fa fa-paper-plane fa-flip-horizontal"></i></a></li>
                <li class="rocket"><a href="javascript:;"><i class="fa fa-rocket"></i></a></li>
                <li class="game"><a href="javascript:;"><i class="fa fa-gamepad"></i></a></li>
                <li class="add"><a href="javascript:;"><i class="fa fa-plus"></i></a></li>
            </ul>
        </header>
        <div class="contain">
            <nav>
                <ul class="contain-router">
                    <li>
                        <h4>MENU  <i class="fa fa-cog"></i></h4>
                        <ul>
                            <li><a href="javascript:;">Overview</a></li>
                            <li><a href="javascript:;">Sales</a></li>
                            <li><a href="javascript:;">Your Staff</a></li>
                            <li><a href="javascript:;">Analytics & Targeting</a></li>
                            <li><a href="javascript:;">What's New</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4>MENU  <i class="fa fa-cog"></i></h4>
                        <ul>
                            <li><a href="javascript:;">Overview</a></li>
                            <li><a href="javascript:;">Sales</a></li>
                            <li><a href="javascript:;">Your Staff</a></li>
                            <li><a href="javascript:;">Analytics & Targeting</a></li>
                            <li><a href="javascript:;">What's New</a></li>
                        </ul>
                    </li>
                    <li>
                        <h4>MENU  <i class="fa fa-cog"></i></h4>
                        <ul>
                            <li><a href="javascript:;">Overview</a></li>
                            <li><a href="javascript:;">Sales</a></li>
                            <li><a href="javascript:;">Your Staff</a></li>
                            <li><a href="javascript:;">Analytics & Targeting</a></li>
                            <li><a href="javascript:;">What's New</a></li>
                        </ul>
                    </li>
                </ul>
                <footer class="storage-space">
                     <b>Monthly Goals</b>
                     <span>$580/$3200</span>
                     <div><em></em></div>
                </footer>
            </nav>
            <section></section>
        </div>
    </div>
</body>
</html>