.slide-enter,
.slide-leave {
    transition: all .5s;
}

.slide-enter,
.slide-before-leave {
    opacity: 1;
    height: 100px;    
}

.slide-before-enter,
.slide-leave {
    opacity: 0;
    height: 0;
}