<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="wrap">
        <header>
            <em class="mask"></em>
            <div class="w">
                <h1>Hello World</h1>
                <p>CHINA IS SPEEDING UP STRATEGIC PLAN, STANDARDS, TRAFFIC RULES, LAWS AND REGULATIONS ON ACCIDENT-INCURRED
                    LIABILITIES FOR ITS SMART CAR INDUSTRY, ECONOMIC INFORMATION DAILY REPORTED THURSDAY.</p>
                <div class="register">
                    <h4>CREATE YOUR ACCOUNT</h4>
                    <p>IT IS ABSOLUTELY FREE</p>
                    <form>
                        <input type="text" value="denis@getcraftwork.com">
                        <input type="text" placeholder="Create your password">
                        <button type="submit">SIGN UP</button>
                    </form>
                </div>
            </div>
        </header>
        <div class="contain">
            <div class="block-1">
                <p>BOATLOADS OF AWESOME</p>
                <h2>Ready-made, customizable, HTML landing page sections</h2>
                <div class="block-1_grid">
                    <div>
                        <div class="icon">
                            <i class="fa fa-mobile fa-fw"></i>
                        </div>
                        <div class="block-1_grid-contain">
                            <h4>Mobile First</h4>
                            <p>All modulz are built mobile-first for maximum device compatibility.</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon">
                            <i class="fa fa-check-square-o fa-fw"></i>
                        </div>
                        <div>
                            <h4>Mobile First</h4>
                            <p>All modulz are built mobile-first for maximum device compatibility.</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon">
                            <i class="fa fa-pencil fa-fw"></i>
                        </div>
                        <div>
                            <h4>Mobile First</h4>
                            <p>All modulz are built mobile-first for maximum device compatibility.</p>
                        </div>
                    </div>
                    <div>
                        <div class="icon">
                            <i class="fa fa-sliders fa-fw fa-rotate-90"></i>
                        </div>
                        <div>
                            <h4>Mobile First</h4>
                            <p>All modulz are built mobile-first for maximum device compatibility.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-2">
                <div class="screen"></div>
                <em class="mask"></em>
                <div class="w">
                    <h2>Supportive policies for China's smart car</h2>
                    <p>China will come up with its own smart car standards, traffic rules, laws and regulations relating to
                        safety, according to the China Industry Innovation Alliance for the Intelligent and Connected Vehicles.</p>
                    <div class="btn-wrap">
                        <a href="javascript:;">CHECK OUT FEATURES</a>
                        <a href="javascript:;">TRY PRODUCT FOR FREE</a>
                    </div>
                </div>
            </div>
            <div class="block-3">
                <div class="w">
                    <h2>Try Our Awesome Products</h2>
                    <ul>
                        <li>
                            <h4>singleton</h4>
                            <p>
                                Li Jun, a China Academy of Engineering academician and also director of the alliance's experts' committee, said that China
                                will also launch design guidance for smart cars, smart map architecture and standards for
                                test grounds.
                            </p>
                        </li>
                        <li>
                            <h4>hero</h4>
                            <p>
                                Li said the smart car industry is able to enlarge the current car industry by 1 trillion yuan ($158.15 billion) and also
                                able to boost fast development in 5G, internet of cars, big data, artificial intelligence
                                and new-energy vehicles. </p>
                        </li>
                        <li>
                            <h4>pontland</h4>
                            <p>
                                Zhang Junyi, a partner with NIO Capital, said that the smart car is the trend for the car industry and China's auto sector
                                will usher in a new key development stage with the improvement of infrastructure, technology,
                                policies and laws.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="block-4">
                <div class="w">
                    <div class="block-4-inner-1">
                        <div class="img1">
                        </div>
                        <div class="img-contain">
                            <h4>Learn How to Improve Your Personal Business</h4>
                            <p>
                                Li Jun, a China Academy of Engineering academician and also director of the alliance's experts' committee, said that China
                                will also launch design guidance for smart cars, smart map architecture and standards for
                                test grounds.
                            </p>
                        </div>
                    </div>
                    <div class="block-4-inner-2">
                        <div class="img2">
                        </div>
                        <div class="img-contain">
                            <h4>Choose Between Two Beautifully Designed Color Schemes.</h4>
                            <p>
                                China will come up with its own smart car standards, traffic rules, laws and regulations relating to safety, according to
                                the China Industry Innovation Alliance for the Intelligent and Connected Vehicles.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-5">
                <div class="w">
                    <h2>Our Awesome Crew</h2>
                    <p>
                        Our unique online teaching style makes learning easy for everyone. Whether you are trying to land a new job, brush up on
                        your skills.
                    </p>
                    <div class="face-wrap">
                        <div>
                            <img src="../img/face1.png" alt="">
                            <div class="face-contain">
                                <h5>Ethan Dutton</h5>
                                <p>Senior Visual Designer</p>
                                <div class="face-btn-wrap">
                                    <a href="javascript:;">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fa fa-twitter fa-fw"></i>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fa fa-qq fa-fw"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="../img/face2.png" alt="">
                            <div class="face-contain">
                                <h5>Ethan Dutton</h5>
                                <p>Senior Visual Designer</p>
                                <div class="face-btn-wrap">
                                    <a href="javascript:;">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fa fa-twitter fa-fw"></i>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fa fa-qq fa-fw"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="../img/face3.png" alt="">
                            <div class="face-contain">
                                <h5>Ethan Dutton</h5>
                                <p>Senior Visual Designer</p>
                                <div class="face-btn-wrap">
                                    <a href="javascript:;">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fa fa-twitter fa-fw"></i>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fa fa-qq fa-fw"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div>
                            <img src="../img/face4.png" alt="">
                            <div class="face-contain">
                                <h5>Ethan Dutton</h5>
                                <p>Senior Visual Designer</p>
                                <div class="face-btn-wrap">
                                    <a href="javascript:;">
                                        <i class="fa fa-facebook fa-fw"></i>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fa fa-twitter fa-fw"></i>
                                    </a>
                                    <a href="javascript:;">
                                        <i class="fa fa-qq fa-fw"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-6">
                <div class="w">
                    <div class="table">
                        <form action="">
                            <h4>FELL FREE TO WRITE US</h4>
                            <input type="email" name="" id="" placeholder="E-mail">
                            <input type="text" placeholder="Subject">
                            <textarea name="" id="" placeholder="Message"></textarea>
                            <button type="submit">SEND</button>
                        </form>
                    </div>
                    <div class="block-6-contain">
                        <h2>Contacts</h2>
                        <p>
                            Make any design your own using the Style Editor. Personalize fonts, colors, and layouts to create the custom look you want.
                        </p>
                        <ul>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-map-marker fa-fw"></i>
                                </div>
                                <h5>
                                    <address>360 King Street
                                        <br> Feastrvale Trevose, PA 19057 </address>
                                </h5>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-phone fa-fw"></i>
                                </div>
                                <h5>(755) 564-84-12</h5>
                            </li>
                            <li>
                                <div class="icon">
                                    <i class="fa fa-envelope-o fa-fw"></i>
                                </div>
                                <h5>youname@mail.com</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="w">
                <div class="map">
                    <ul>
                        <li>
                            <h6>Learn More</h6>
                        </li>
                        <li>
                            <a href="javascript:;">How it works?</a>
                        </li>
                        <li>
                            <a href="javascript:;">Meeting tools</a>
                        </li>
                        <li>
                            <a href="javascript:;">Live streaming</a>
                        </li>
                        <li>
                            <a href="javascript:;">Contact method</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h6>About Us</h6>
                        </li>
                        <li>
                            <a href="javascript:;">About us</a>
                        </li>
                        <li>
                            <a href="javascript:;">Features</a>
                        </li>
                        <li>
                            <a href="javascript:;">Privacy police</a>
                        </li>
                        <li>
                            <a href="javascript:;">Terms & Conditions</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <h6>Support</h6>
                        </li>
                        <li>
                            <a href="javascript:;">F.A.Q.</a>
                        </li>
                        <li>
                            <a href="javascript:;">Contact us</a>
                        </li>
                        <li>
                            <a href="javascript:;">Live chat</a>
                        </li>
                        <li>
                            <a href="javascript:;">Phone call</a>
                        </li>
                    </ul>
                </div>
                <div class="ad">
                    <h6>Enjoy your Life</h6>
                    <p>Great web UI kit for designers, freelancers or business.</p>
                    <div class="footer-btn-wtap">
                        <a href="javascript:;">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="fa fa-tumblr"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="fa fa-pinterest-p"></i>
                        </a>
                        <a href="javascript:;">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script>
        window.addEventListener('load', function () {
            var tar = document.querySelector('.face-wrap');
            var tars = tar.children;
            for (let index = 0; index < tars.length; index++) {
                tars[index].addEventListener('mouseenter',function(){
                    this.querySelector('.face-contain').style.display = "block"
                })
                tars[index].addEventListener('mouseleave',function(){
                    this.querySelector('.face-contain').style.display = "none"
                })
            }

        })
    </script>

</body>

</html>